/* /////////////////////////////////////////// */

.modal {

}

/* /////////////////////////////////////////// */

.modal .header {
  @apply flex flex-row;
  @apply items-center mx-[auto];
  @apply relative h-[45px] min-h-[45px] w-[calc(100%-40px)];
}

.modal .header::after {
  content: '';
  @apply absolute;
  @apply w-[100%] border-b;
  @apply left-[0px] bottom-[0px];
}

.modal .header > .label {
  @apply overflow-ellipsis;
  @apply text-[15px] text-[#1E1E1E];
  @apply overflow-hidden whitespace-nowrap;
  @apply font-bold uppercase tracking-[1px];
}

.modal .header > *:nth-child(2n) {
  @apply !ml-[auto];
}

/* /////////////////////////////////////////// */

.modal .header > .buttons {
  @apply mx-[20px];
}

.modal .header > .buttons > div {
  @apply cursor-pointer;
}

.modal .header > .buttons > div svg {
  @apply text-[#1E1E1E];
  @apply text-[20px] stroke-[1.5px];
}

/* /////////////////////////////////////////// */

.modal .header > .close {
  @apply cursor-pointer;
}

.modal .header > .close > svg {
  @apply text-[#1E1E1E];
  @apply text-[20px] stroke-[1.5px];
}

/* /////////////////////////////////////////// */

.modal .footer {
  @apply flex flex-row;
  @apply items-center mx-[auto] mb-[10px];
  @apply relative h-[45px] w-[calc(100%-40px)];
}

/* /////////////////////////////////////////// */

.menu-popover {

}

.menu-popover > div[tabindex="-1"] {
  @apply shadow-lg visible ml-[10px];
  @apply mt-[10px] p-[10px] rounded-[10px];
  box-shadow: 2px 3px 20px rgba(0,0,0,0.15);
}

.menu-popover .row {
  @apply border border-transparent;
  @apply flex flex-row items-center rounded-[5px];
  @apply cursor-pointer px-[5px] py-[5px] pr-[5px];
}

.menu-popover .row:hover {
  @apply bg-gray-100 border-gray-200;
}

.menu-popover .label {
  color: primary;
  @apply text-[13px] font-medium;
  @apply tracking-[0.7px] px-[8px];
}

/* /////////////////////////////////////////// */